* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #FEEAEF;
  }
  
  .slideshow-container {
    width: 100%;
    height: 100vh;
    position: relative;
    margin: auto;
    overflow: hidden;
  }
  
  .mySlides {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 1s ease-in-out;
  }
  
  .mySlides.show {
    opacity: 1;
  }
  
  .mySlides img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .text {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 20px;
    text-align: center;
    color: #fff;
    font-size: 50px;
    font-weight: bold;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
    background-color: rgba(0,0,0,0.5);
  }
  
  .prev, .next {
    position: absolute;
    top: 50%;
    margin-top: -22px;
    font-size: 30px;
    font-weight: bold;
    padding: 10px;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 0 3px 3px 0;
    cursor: pointer;
  }
  
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  .prev:hover, .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }
  
  .dot-container {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
  }
  
  .dot {
    display: inline-block;
    margin: 0 5px;
    cursor: pointer;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.5);
  }
  
  .active, .dot:hover {
    background-color: #fff;
  }


  @media screen and (max-width: 768px) {
    .text {
      font-size: 50px;
    }
  
    .prev, .next {
      font-size: 24px;
      padding: 5px;
      margin-top: -15px;
    }
  
    .dot-container {
      bottom: 10px;
    }
  
    .dot {
      height: 8px;
      width: 8px;
      margin: 0 3px;
    }
  }
  
  @media screen and (max-width: 480px) {
    .text {
      font-size: 50px;
      padding: 10px;
    }
  
    .prev, .next {
      font-size: 20px;
      padding: 3px;
      margin-top: -10px;
    }
  
    .dot-container {
      bottom: 5px;
    }
  
    .dot {
      height: 6px;
      width: 6px;
      margin: 0 2px;
    }
  }

  @media screen and (max-width: 320px) {
    .text {
      font-size: 50px;
      padding: 10px;
    }
  
    .prev, .next {
      font-size: 20px;
      padding: 3px;
      margin-top: -10px;
    }
  
    .dot-container {
      bottom: 5px;
    }
  
    .dot {
      height: 6px;
      width: 6px;
      margin: 0 2px;
    }
  }
  
